.App {
  text-align: center;
  margin: auto 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  max-width: 650px;
  padding: 60px 30px;
  border-radius: 30px;
  background-color: #f9f9f9;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.rainbow-btn {
  /* margin: 10px auto; */
  /* max-width: 200px; */
  text-align: center;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  border-radius: 6px;
  box-sizing: border-box;
  display: block;
  z-index: 2;
  overflow: hidden;
  padding: 4px;
  height: 60px;
  cursor: pointer;
}
.rainbow-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
  background-size: 50% 100%;
}

.rainbow-btn span {
  position: relative;
  z-index: 2;
  padding: 16px 0;
  font-size: 16px;
  text-decoration: none;
  align-items: center;
  background: #1c9ed5;
  border-radius: 3px;
  display: block;
  justify-content: center;
  box-sizing: border-box;
}
.rainbow-btn:focus:before,
.rainbow-btn:hover:before {
  animation: rainbow-btn 0.75s linear infinite;
}
.svg-inline--fa {
  background: #1c9ed5;
  color: #fff;
  border-radius: 12px;
  padding: 12px;
  margin: 3px;
}

@keyframes rainbow-btn {
  to {
    transform: translateX(-50%);
  }
}
h1 {
  font-size: 26px;
  font-family: "Nunito", sans-serif;
  max-width: 600px;
}
p {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  max-width: 600px;
  font-style: italic;
  font-weight: 400;
}
.btn {
  margin: 20px 0;
}
